body{
	overflow-x:hidden;
}

.info{
	top:0;
	right:0;
	position:fixed;
	min-height:100vh;
	max-height:100vh;
	min-width:18%;
	max-width:18%;
	background-color:lightblue;
	padding:1em;
	overflow-y:scroll;
}

.legend{
	border:solid black 1px;
	right:22%;
	min-height:4em;
	max-height:4em;
	min-width:10em;
	max-width:10em;
	position:fixed;
	padding:.5em .5em 1em .5em;
}

.key{
	min-height:1em;
	max-height:1em;
	min-width:1em;
	max-width:1em;
	float:left; 
}

.value{
	float:left;
	padding:0 2px 0 2px;
}

.none{
	background-color:lavender;
}

.light{
	background-color:rgb(110,170,190);
}

.med{
	background-color:rgb(90,150,170);
}

.heavy{
	background-color:rgb(30,90,110);
}

/*Central Region
Central San Diego
Mid-City
Southeastern San Diego
East Region
Alpine
El Cajon
Harbison Crest/El Cajon
Jamul
La Mesa
Laguna-Pine  Valley
Lakeside
Lemon Grove
Mountain Empire
Santee
Spring Valley
North Central Region
Coastal
Del Mar-Mira Mesa
Elliott-Navajo
Kearny Mesa
Miramar
Peninsula
University
North Coastal Region
Carlsbad
Oceanside
Pendleton
San Dieguito
Vista
North Inland Region
Anza-Borrego Springs
Escondido
Fallbrook
North San Diego
Palomar-Julian
Pauma
Poway
Ramona
San Marcos
Valley Center
South Region
Chula Vista
Coronado
National City
South Bay
Sweetwater
Unknown
*/