body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#sidebar {
  padding:2em;
  background-color: floralwhite;
}

.ui.slider.checkbox {
  padding:10px 0px 10px 0px;
}

.subheader {
  padding-bottom: 5px;
  text-align: center;
}

.pollutant {
  stroke: red;
  stroke-width:0;
  fill: red;
  opacity: 1;
  fill-opacity: 0.50;
}

.canvas {
  position:absolute;
}